
        /* start */
        .list .list1{
            height: 400px;
            background: url(../images/banner1.jpg) center center no-repeat;
            background-size: 90%;
            position: relative;
        }
        .list .list1 h1{
            display: inline-block;
            position: absolute;
            top: 120px;
            left: 260px;
        }
        .list .list1 span{
            font-size: 16px;
            position: absolute;
            top: 160px;
            left: 260px;

        }
        .list .list1 span:nth-of-type(2){
            font-size: 20px;
            color: red;
            position: absolute;
            top: 210px;
            left: 260px;
        }
       

        .list .list2{
            height: 400px;
            background: url(../images/banner2.jpg) center center no-repeat;
            background-size: 90%;
            position: relative;
        }
        .list .list2 h1{
            display: inline-block;
            position: absolute;
            top: 100px;
            left:650px ;
        }
        .list .list2 span{
            font-size: 16px;
            position: absolute;
            top: 140px;
            left: 650px;

        }
        .list .list2 span:nth-of-type(2){
            font-size: 20px;
            color: red;
            position: absolute;
            top: 185px;
            left: 650px;
        }
        /* end */

        /* start */
        .list .list3{
            height: 400px;
            background: url(../images/banner3.jpg) center center no-repeat;
            background-size: 90%;
            position: relative;
        }
        .list .list3 h1{
            display: inline-block;
            position: absolute;
            top: 120px;
            left: 260px;
        }
        .list .list3 span{
            font-size: 16px;
            position: absolute;
            top: 160px;
            left: 260px;

        }
        .list .list3 span:nth-of-type(2){
            font-size: 20px;
            color: red;
            position: absolute;
            top: 210px;
            left: 260px;
        }
       
        
        .list .list4{
            height: 400px;
            background: url(../images/banner4.jpg) center center no-repeat;
            background-size: 90%;
            position: relative;
        }
        .list .list4 h1{
            display: inline-block;
            position: absolute;
            top: 100px;
            left:650px ;
        }
        .list .list4 span{
            font-size: 16px;
            position: absolute;
            top: 140px;
            left: 650px;

        }
        .list .list4 span:nth-of-type(2){
            font-size: 20px;
            color: red;
            position: absolute;
            top: 185px;
            left: 650px;
        }
        /* end */

        /* start */
        .list .list5{
            height: 400px;
            background: url(../images/banner5.jpg) center center no-repeat;
            background-size: 90%;
            position: relative;
        }
        .list .list5 h1{
            display: inline-block;
            position: absolute;
            top: 120px;
            left: 260px;
        }
        .list .list5 span{
            font-size: 16px;
            position: absolute;
            top: 160px;
            left: 260px;

        }
        .list .list5 span:nth-of-type(2){
            font-size: 20px;
            color: red;
            position: absolute;
            top: 190px;
            left: 260px;
        }
       
        
        .list .list6{
            height: 400px;
            background: url(../images/banner6.jpg) center center no-repeat;
            background-size: 90%;
            position: relative;
        }
        .list .list6 h1{
            display: inline-block;
            position: absolute;
            top: 100px;
            left:650px ;
        }
        .list .list6 span{
            font-size: 16px;
            position: absolute;
            top: 140px;
            left: 650px;

        }
        .list .list6 span:nth-of-type(2){
            font-size: 20px;
            color: red;
            position: absolute;
            top: 185px;
            left: 650px;
        }
        /* end */
 
        .small_list{
            margin: 0px auto;
            height: 490px;
            width:600px;
        }
        .small_list .box{
           
        } 
        .small_list .box li{
            width: 300px;
            float: left;
            position: relative;
            margin-top: 25px;
        }
        .small_list .box li img{
            display: block;
            width: 170px;
            height: 170px;
        }
        .small_list .box li span:nth-of-type(2){
            position: absolute;
            top:220px;
            left: 65px;
            color: red;
            font-size: 14px;
        }

         /* start */
         .list .list7{
            height: 400px;
            background: url(../images/banner7.jpg) center center no-repeat;
            background-size: 90%;
            position: relative;
            color: white;
        }
        .list .list7 h1{
            display: inline-block;
            position: absolute;
            top: 120px;
            left: 260px;
        }
        .list .list7 span{
            font-size: 16px;
            position: absolute;
            top: 160px;
            left: 260px;

        }
        .list .list7 span:nth-of-type(2){
            font-size: 20px;
            color: white;
            position: absolute;
            top: 190px;
            left: 260px;
        }
       

        .list .list8{
            height: 400px;
            background: url(../images/banner8.jpg) center center no-repeat;
            background-size: 90%;
            position: relative;
        }
        .list .list8 h1{
            display: inline-block;
            position: absolute;
            top: 100px;
            left:650px ;
        }
        .list .list8 span{
            font-size: 16px;
            position: absolute;
            top: 140px;
            left: 650px;

        }
        .list .list8 span:nth-of-type(2){
            font-size: 20px;
            color: red;
            position: absolute;
            top: 185px;
            left: 650px;
        }
        /* end */

        /* 假数据 */
        .list .good_list{
            width: 1100px;
            height: 500px;
            /* background-color: pink; */
            position: relative;
        }
        .list .good_list p{
            width: 600px;
            height: 20px;
            font-size:20px;
            text-align: right;
            line-height: 16px;
        }
        .list .good_list .show{
            margin-top: 10px;
            margin-left: 40px;
            width: 1100px;
            /* background-color: skyblue; */
        }
        .list .good_list .show li{
            float: left;
            width: 210px;
            /* background-color: yellow; */
        }
        .list .good_list .show li img{
            display: block;
            width: 110px;
            height: 110px;
        }
        .list .good_list .show li span:nth-of-type(2){
            color: red;
            font-weight: 800;
            display: block;
            margin-left: 10px;
        }

        .list .over{
            display: inline-block;
            font-size: 14px;
            color: #cccccc;
            width: 1223px;
            height: 100px;
            /* background-color: pink; */
            margin-left: 500px;
            line-height: 100px;
        }
        