.back {
  background-color: #eeeeee;
}

.back .container a {
  font-size: 10px;
  height: 30px;
  line-height: 30px;
  color: #ccc;
}

.back .container span:nth-of-type(2) {
  font-size: 10px;
  height: 30px;
  line-height: 30px;
  color: black;
}

.news {
  width: 1050px;
  margin-top: 50px;
  margin-left: 100px;
  float: left;
}

.news span {
  font-size: 12px;
  color: red;
}

.pages_bigbox {
  width: 100%;
  height: 100%;
}

.pages_bigbox .pages_box {
  width: 1367px;
  position: relative;
  margin: 0 auto;
}

/* 关于放大镜 css */

.pages_bigbox .pages_box .pages_littlebox {
  width: 100%;
  height: 100%;
  position: relative;
  height: 1000px;
}

.pages_bigbox .pages_box .pages_littlebox #small {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50px;
  top: 135px;
  border: 1px solid #ccc;
}

.pages_bigbox .pages_box .pages_littlebox #small img {
  width: 100%;
  height: 100%;
}

.pages_bigbox .pages_box .pages_littlebox #small #shadow {
  width: 100px;
  height: 100px;
  background-color: yellow;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.pages_bigbox .pages_box .pages_littlebox #big {
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 400px;
  overflow: hidden;
  z-index: 20;
  background-color: lavenderblush;
}

.pages_bigbox .pages_box .pages_littlebox #big img {
  position: absolute;
  width: 600px;
  height: 600px;
}

/* 假数据 */

.pages_bigbox .pages_box .pages_littlebox .data {
  position: absolute;
  right: 100px;
  top: 130px;
  width: 700px;
}


.pages_bigbox .pages_box .pages_littlebox .data .title {
  height: 40px;
  line-height: 30px;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  margin-top: 10px;
}

.pages_bigbox .pages_box .pages_littlebox .data .price {
  font-size: 20px;
  color: red;
  height: 40px;
  line-height: 40px;
}

.pages_bigbox .pages_box .model {
  width: 700px;
  position: absolute;
  top: 250px;
  right: 100px;
}

.pages_bigbox .pages_box .model ul {
  height: 40px;
  color: #000000;
}

.pages_bigbox .pages_box .model ul li {
  float: left;
  font-size: 16px;
  /* line-height: 16px; */
  margin-right: 30px;
}

.pages_bigbox .pages_box .model ul li:nth-of-type(1) {
  color: rgb(156, 151, 151);
}

.pages_bigbox .pages_box .model ul li span {
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  color: white;
  background-color: red;
}

.pages_bigbox .pages_box .model ul .span {
  display: inline-block;
  margin-left: 63px;
  margin-top: 10px;
}

.pages_bigbox .pages_box .model ul button {
  width: 80px;
  height: 40px;
  background-color: white;
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.pages_bigbox .pages_box .model ul button:hover {
  background-color: rgb(226, 81, 28);
}

.sc_goodsNum {
  position: relative;
  margin: 20px 0
}
.sc_goodsNum span{
  font-size: 16px;
  color: rgb(156, 151, 151);
}

/* 数量加减 */
.sc_goodsNum input {
  width: 100px;
  height: 41px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
  margin-left: 30px;
  /* border-radius: 10px; */
}

.sc_goodsNum button {
  height: 22px;
  width: 20px;
  background: none;
  border: 1px solid #ccc;
  position: absolute;
}

.sc_goodsNum .addBtn {
  left: 199px;
  top: 0px;
}

.sc_goodsNum .subBtn {
  left: 199px;
  top: 21px;
}
/* 加购/购买 */
.price_sum {
  width: 800px;
  height: 100px;
  position: absolute;
  top:100px;
  left: 550px;
  
}

.price_sum button {
  width: 150px;
  height: 50px;
  color: white;
  margin-top: 400px;
  margin-right: 20px;
  background-color: rgb(226, 81, 28);
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
}

/* 右边购物车 */

.sc_right {
  position: absolute;
  width: 270px;
  border-left: 2px solid #b6b6b6;
  right: -270px;
  top: 0;
  height: 100%;

}

.sc_pic {
  width: 40px;
  height: 40px;
  padding: 4px 6px;
  background: url(../images/toolbars.png) #999 15px 15px no-repeat;
  position: relative;
  left: -52px;
  top: 50%;
  margin-top: -24px;

}

.sc_num {
  position: absolute;
  padding: 2px 8px;
  border-radius: 50%;
  background: red;
  color: #fff;
  top: -8px;
  left: 20px;
  z-index: 1;
}
